          <button type="button" class="btn btn-info"  data-toggle="collapse" data-target="#demo">Book Filter</button>
  <div id="demo" class="collapse">
    <div class="col-md-12"> 
     <h4>Filter By</h4>
         <input type="search" ng-model="q" placeholder="Filter By ..." aria-label="filter friends" />
    </div>
    
  </div>  
           

            <div class="col-md-12" ng-repeat="list in data | orderBy : 'name' | filter:q as results">
        
              <div class="card medium  hoverable">
                    
                     <div class="card-content" ng-href="#!/books/{{$index+1}}">
                        <span class="card-title">
                            <h2 class="center-align">{{list.name}}</h2>
                        </span> 
	                    <hr>
	                    <h4 class="center-align">Author
	                        <p ng-repeat="author in list.authors">{{author}}</p>
                        </h4>   
                    	<h5 class="center-align">Published By
	                         <p>{{list.publisher}}</p>
                        </h5>
                        <span>
	                        <h5 class="center-align"></h5>
                        </span>   
                     </div>
                   <div class="card-action center-align">
                     <a ng-href="#!/books/{{$index+1}}" class="center-align" style="color: #1976d2;font-weight: bolder">FULL DETAILS</a>
                   </div>
                    
                   </div>
               </div>
                
           
